/* landing.css */

.landing-container {
  position: relative;
}

.background-access {
  width: 100%;
  height: 200vh; /* Adjusted height to accommodate the additional image */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure it's above the image */
}

.land-yoga-image {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/women.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 0; /* Ensure it's behind other content */
}

.additional-image {
  width: 290px; /* Adjusted width to increase the size */
  height: 75vh; /* Adjusted height to maintain aspect ratio */
  background-image: url('../assets/yoga-land.jpg'); /* Replace 'path_to_your_additional_image.jpg' with the actual path to your image */
  background-repeat: no-repeat; /* Ensure the image is not repeated */
  background-size: contain; 
  background-position: center;
  position: absolute;
  bottom: 0; /* Position it at the bottom */
  right: 0; /* Position it at the right */
}

.yoga-meanings {
  position: absolute;
  top: 22%;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  font-weight: 600; /* Corrected typo, should be just '600' */
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 34px;
  line-height: 1.5;
}

.yoga-text {
  position: absolute;
  top: 37%; /* Adjusted position */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  color: rgb(6, 1, 1);
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}
.success-message.sign {
  color: green;
  margin-top: 6px;
  margin-bottom: 10px;
}