.navbar-simple {
  padding: 70px 50px;
  
}

.navbar-simple ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-simple ul li {
  display: inline;
  margin-right: 10px;
}

.navbar-simple ul li a {
  color: rgb(255, 255, 255) ;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  padding: 3%;
}

.navbar-simple ul li a:hover {
  text-decoration: underline;
}
.corner-image {
  position: absolute;
  top: 25px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  height: 20%;
}